<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather App</title>

</head>
<body>

    <div class="index-block">
        <div class="index-header">
            <h1>Get Weather Results!</h1>
        </div>
        <div class="index-search-container">
            <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
            <div class="error-message">
                <%= errorMessage %>
            </div>
        <% } %>
            <form action="/forecast" method="GET">
                <input type="text" placeholder="Enter city name" pattern="[a-zA-Z\s]+" 
                title="Please enter a valid city name" name="city"
                value="<%= typeof userInput !== 'undefined' ? userInput : '' %>">
                <button type="submit">SEARCH</button>
            </form>
        </div>
    </div>

</body>
</html>